<template>
  <div>
    <div class="categories">
      <div
        v-for="(cat, i) in categories"
        :key="cat.id"
        v-ripple
        class="categories__item"
        :class="{ active: i === activeItem }"
        @click="selectCategory(cat.id, i)"
      >
        {{ cat.name }}
      </div>
    </div>
    <b-alert
      v-if="categories[activeItem]"
      :show="categories[activeItem].name === 'Пироги'"
      variant="warning"
    >
      Внимание! Заказы на пироги принимаются за 24 часа, точное время Вам
      сообщит менеджер.
    </b-alert>
    <div class="row">
      <div
        v-for="prod in products"
        :key="prod.id"
        class="col-6 col-md-3 mb-5 d-flex"
      >
        <CardDish :dish="prod" />
      </div>
    </div>
  </div>
</template>

<script>
import CardDish from "../../components/CardDish";
export default {
  name: 'CarteMain',
  components: { CardDish },
  data() {
    return {
      activeItem: null,
      server_url: process.env.server_url,
    }
  },
  computed: {
    products() {
      return this.$store.state.products.prodlist
    },
    categories() {
      return this.$store.state.products.categories
    },
  },

  created() {
    this.activeItem = 0;
    this.getAllCategory();
  },

  methods: {
    selectCategory(catId, i) {
      this.$store.commit('products/setProdListByCatId', catId)
      this.activeItem = i
    },
    getAllCategory() {
      this.$store.dispatch('products/getAllCategory')
    },
  },
}
</script>

<style scoped lang="scss">

</style>
