<template>
  <section class="true mt-4">
    <img class="vetv_2" src="~assets/img/vetv_2.png" alt="" />
    <div class="container mt-4">
      <div class="row d-none d-md-flex mb-4">
        <div class="col-6">
          <img class="true_img" src="~assets/interer/7.webp" alt="" />
        </div>
        <div class="col-6">
          <img class="true_img" src="~assets/interer/8.webp" alt="" />
        </div>
      </div>
      <div class="row d-none d-md-flex mb-4">
        <div class="col-4">
          <img class="true_img" src="~assets/interer/9.webp" alt="" />
        </div>
        <div class="col-4">
          <img class="true_img" src="~assets/interer/10.webp" alt="" />
        </div>
        <div class="col-4">
          <img class="true_img" src="~assets/interer/11.webp" alt="" />
        </div>
      </div>
      <div class="row d-none d-md-flex mb-4">
        <div class="col-4">
          <img class="true_img" src="~assets/interer/12.webp" alt="" />
        </div>
        <div class="col-4">
          <img class="true_img" src="~assets/interer/14.webp" alt="" />
        </div>
        <div class="col-4">
          <img class="true_img" src="~assets/interer/15.webp" alt="" />
        </div>
      </div>
      <div class="row d-none d-md-flex mb-4">
        <div class="col-12">
          <img class="true_img__big" src="~assets/interer/13.webp" alt="" />
        </div>
      </div>
      <img class="d-md-none main_img" src="~assets/interer/7.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/8.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/9.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/10.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/11.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/12.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/14.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/15.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/16.webp" alt="" />
      <img class="d-md-none main_img" src="~assets/interer/13.webp" alt="" />

      <div class="center" id="dostavka">
        <button class="btn-cta" v-b-modal.my-modal>Забронировать столик</button>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'AlbumInterior'
}
</script>

<style scoped lang="scss">
.true {
  position: relative;
  padding-top: 31px;

  .vetv_2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .container {
    position: relative;

    .main_img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
    }

    .center {
      display: flex;
      justify-content: center;
      button {
        margin-top: 40px;
        margin-bottom: 130px;
      }
    }
  }

  @media (min-width: 768px) {
    & {
      .vetv_2 {
        width: 300px;
      }
      .true_img {
        width: 100%;
        height: 458px;
        object-fit: cover;

        &__big {
          height: 876px;
        }
      }
    }
  }
}
</style>
