<template>
  <section class="true mt-4">
    <div class="container mt-4">
      <h2>Несколько просторных залов</h2>
      <div class="row d-none d-md-flex">
        <div class="col-6">
          <img class="true_img__big" src="~assets/hall/1.webp" alt=""/>
        </div>
        <div class="col-3">
          <img class="true_img" src="~assets/hall/2.webp" alt="" style="margin-bottom: 24px"/>
          <img class="true_img" src="~assets/hall/4.webp" alt=""/>
        </div>
        <div class="col-3 mb-4">
          <img class="true_img" src="~assets/hall/3.webp" alt="" style="margin-bottom: 24px"/>
          <img class="true_img" src="~assets/hall/5.webp" alt=""/>
        </div>
      </div>
      <div class="row d-none d-md-flex" style="margin-top: 6px">
        <div class="col-3">
          <img class="true_img" src="~assets/hall/6.webp" alt=""/>
        </div>
        <div class="col-3">
          <img class="true_img" src="~assets/hall/7.webp" alt=""/>
        </div>
        <div class="col-6">
          <img class="true_img" src="~assets/hall/8.webp" alt=""/>
        </div>
      </div>
      <img class="d-md-none main_img" src="~assets/hall/1.webp" alt=""/>
      <img class="d-md-none main_img" src="~assets/hall/2.webp" alt=""/>
      <img class="d-md-none main_img" src="~assets/hall/3.webp" alt=""/>
      <img class="d-md-none main_img" src="~assets/hall/4.webp" alt=""/>
      <img class="d-md-none main_img" src="~assets/hall/5.webp" alt=""/>
      <img class="d-md-none main_img" src="~assets/hall/6.webp" alt=""/>
      <img class="d-md-none main_img" src="~assets/hall/7.webp" alt=""/>
      <img class="d-md-none main_img" src="~assets/hall/8.webp" alt=""/>
    </div>
  </section>
</template>

<script>
export default {
  name: "AlbumHall",
  methods: {
    getImgUrl(pic) {
      return require('../assets/hall/'+pic)
    }
  }
}
</script>

<style scoped lang="scss">
.true {
  position: relative;
  padding-top: 31px;
  margin-bottom: 60px;

  .true_img{
    &__big{
      object-fit: cover;
    }
  }

  .container {
    position: relative;

    .main_img {
      width: 100%;
      object-fit: cover;
      margin-bottom: 15px;
    }

    .center {
      display: flex;
      justify-content: center;
    }
  }

  @media (min-width: 768px) {
    & {
      .true_img {
        width: 100% ;
        height: 270px;
        object-fit: cover;
        &__big{
          height: 270px * 2 + 24px;
          width: 100%
        }
      }
    }
  }
}
</style>
