<template>
  <nuxt-link to="/cart" class="d-flex d-md-none cart_float">
    <img src="~assets/icons/cart.svg" alt="" />
    <div class="count_container_float">
      <div class="numberous">{{ amount }}</div>
    </div>
  </nuxt-link>
</template>

<script>
export default {
  name: 'AppBtnFloatCart',

  computed: {
    amount() {
      return this.$store.state.cart.amount
    },
  },
}
</script>

<style lang="scss" scoped>
.cart_float {
  position: fixed;
  z-index: 500;
  width: 60px;
  height: 60px;
  bottom: 50px !important;
  right: 15px !important;
  border-radius: 50%;
  padding: 20px;
  background: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  .count_container_float {
    position: absolute;
    bottom: 5px;
    left: 10px;
    background: #ffdc83;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    .numberous {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
</style>
