<template>
  <section class="about">
    <div class="container" style="margin-top: 20px">
      <div class="row pt-4">
        <div class="col-md-6 order-md-1 mb-4">
          <h2>Банкетный зал</h2>
          <p>
            Уютное и прекрасное место для проведения любого торжества. Чайхана состоит из двух залов: байского зала до
            10 человек и основного до 60 гостей.
            Мы проводим только безалкогольные мероприятия.
            <br/>
            Халяль-чайхана «Мархаба» соответствует всем требованиям и канонам Ислама.
            Здесь вы можете провести любой праздник: свадьбу, никах, день рождения, юбилей и даже бизнес-конференцию.
            </p>
          <p>
            Просторные залы, восточные резные декоры, уютные пёстрые диваны, блестящие сосуды в нишах — здесь каждая деталь
            напоминает о загадочном и манящем Востоке с его многовековыми традициями и богатой культурой,
            а в меню - национальные блюда, приготовленные с соблюдением стандарта халяль. – все это создаст особую атмосферу вашего праздника.
          </p>
          <p>
            Мы находимся по адресу: Баумана 7/10, рядом с метро Кремлевская. Есть парковка.
            <br/>
            Если у Вас остались вопросы – звоните нам, будем рады Вам помочь! Наш телефон <b>+7 (927) 249-16-17</b>
          </p>
          <p>
            До встречи в «Мархабе»!
          </p>
        </div>
        <div class="about_col col-md-6 order-md-2 mb-4" style=";align-items: center;display: flex">
          <img
            class="img-fluid about_img"
            src="~assets/img/banket.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "BanketHall"
}
</script>

<style scoped>

</style>
