<template>
  <main v-if="dish && Number(dish.id)" style="padding-top: 0; margin-bottom: 20px">
    <div class="item_card" v-if="dish">
      <div class="container">
        <div class="img_container">
          <img v-if="dish.photo" :src="server_url + dish.photo.url" alt=""/>
          <img v-if="!dish.photo" :src="'/default-image.jpg'" alt=""/>
        </div>
        <div
          class="
              col-lg-6
              order-md-2
              d-flex
              flex-column
              justify-content-between
            "
          style="padding: 0;"
        >
          <div class="text_container">
            <div class="name">{{ dish.name }}</div>
            <p v-if="dish.desc">{{ dish.desc }}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "BusinessDishModal",
  props: {
    server_url: {
      type: String,
      required: true
    },
  },
  data() {
    return {
      dish: null
    }
  },
  created() {
    this.dish = this.$store.state.businessmenu.currentDish;
  }
}
</script>

<style scoped lang="scss">
.container{
  display: flex;
  padding: 0;
  flex-wrap: wrap;
}
.img_container {
  flex: 1 1 auto;
  height: 400px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text_container {
  bottom: 0;
  right: 2px;
  padding: 8px 0;
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 130%;
  color: #fff;
}

.name{
  margin-bottom: 20px;
}

p{
  color: #fff;
  font-size: 18px;
  line-height: 130%;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 990px) {
  .img_container {
    height: 500px;
  }
  .text_container{
    padding: 8px 16px;
  }
}

</style>
