<template>
  <div class="card-dish flex-fill d-flex flex-column">
    <div>
      <nuxt-link :to="'/products/' + dish.id">
        <div class="card-dish__container">
          <div class="img-wrapper">
            <img
              v-if="dish.photo"
              :src="server_url + dish.photo.formats.small.url"
              alt=""
            />
            <img
              v-if="!dish.photo"
              :src="'/default-image.jpg'"
              alt=""
            />
          </div>
          <div class="img-wrapper__price" v-on:click.prevent
               @click="!cartItem ? addItemToCart() : removeItemFromCart()">
            {{ !cartItem ? dish.price : dish.price * cartItem.amount }} р. <span
            class="symbols"> {{ !cartItem ? '+' : '✓' }}</span>
          </div>
        </div>
      </nuxt-link>
      <h3 style="min-height: 115px">
        <nuxt-link :to="'/products/' + dish.id">
          {{ dish.name }}
        </nuxt-link>
      </h3>
      <div
        v-if="cartItem"
        style="display: flex; width: 95%; justify-content: center"
      >
        <button
          class="price-like"
          v-on:click.prevent
          @click="decreaseItemValue"
        >
        <span
          class="symbols"
        >
          &nbsp;&nbsp;&nbsp;&nbsp;&minus;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        </button>
        <span style="padding: 0 10px; font-size: 22px">{{ cartItem.amount }}</span>
        <button
          class="price-like"
          v-on:click.prevent
          @click="increaseItemValue"
        >
        <span
          class="symbols"
        >
         &nbsp;&nbsp;&nbsp;&nbsp;&plus;&nbsp;&nbsp;&nbsp;&nbsp;
        </span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import VueYandexMetrika from "vue-yandex-metrika";

export default {
  name: 'CardDish',

  props: {
    dish: {
      type: Object,
      required: true
    }
  },

  data() {
    return {
      server_url: process.env.server_url,

      cartItem: false
    }
  },

  created() {
    Vue.use(VueYandexMetrika, {
      id: 86125591,
      env: process.env.NODE_ENV
    });
    this.cartItem = this.setCartItem();
  },

  methods: {
    setCartItem() {
      return this.cartItems.find((x) => x.id === this.dish.id)
    },
    addItemToCart() {
      this.$store.commit('cart/addItem', this.dish);
      this.cartItem = this.setCartItem();
      this.$metrika.reachGoal('add-to-cart');
    },
    removeItemFromCart() {
      this.$store.commit('cart/deleteItem', this.dish);
      this.cartItem = this.setCartItem();
    },
    increaseItemValue() {
      if (!this.cartItem) {
        this.addItemToCart()
      } else {
        this.$store.commit('cart/plusItem', this.dish);
        this.cartItem = this.setCartItem();
      }
    },
    decreaseItemValue() {
      this.$store.commit('cart/minusItem', this.dish);
      this.cartItem = this.setCartItem();
    }
  },

  computed: {
    cartItems() {
      return this.$store.state.cart.cartItems;
    },
  }
}
</script>

<style scoped lang="scss">
.card-dish {
  width: 100%;
  height: 100%;

  .card-dish__container {
    margin-bottom: 15px;
    position: relative;

    .img-wrapper__price {
      position: absolute;
      bottom: 0;
      right: -14px;
      padding: 8px 16px;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 16px;
      border-radius: 52px;
      color: #262626;
      background: #ffdc83;

      &:hover {
        background: #c7ba9a;
      }
    }

    .img-wrapper {
      position: relative;
      width: 100%;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .img-wrapper:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  button {
    width: fit-content;

    &:hover {
      background: #c7ba9a;
    }
  }
}

.price-like {
  padding: 8px 8px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  border-radius: 52px;
  border: none;
  color: #262626;
  background: #ffdc83;
}

.symbols {
  font-family: Georgia, serif;
  font-size: 22px;
}
</style>
