<template>
  <div>
    <nuxt-link to="/cart">
      <div class="carticon_container">
        <img src="~assets/icons/cart.svg" alt="" />
        <div class="count_container">
          <div class="numberous">{{ amount }}</div>
        </div>
      </div>
    </nuxt-link>
  </div>
</template>

<script>
export default {
  computed: {
    amount() {
      return this.$store.state.cart.amount
    },
  },
}
</script>

<style lang="scss" scoped>
.carticon_container {
  position: relative;
  .count_container {
    position: absolute;
    bottom: -5px;
    right: -5px;
    background: #ffdc83;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    padding-top: 3px;
    .numberous {
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 15px;
      /* identical to box height */
    }
  }
}
</style>
