<template>
  <div>
    <section class="catalog-dishes">
      <div class="container">
        <div class="d-flex">
          <h2 class="mr-4">Меню</h2>
          <img class="halal" src="../assets/img/halal.svg" alt="" />
        </div>

        <div class="d-flex flex-wrap">
          <button
            :class="{ active: currentMenu === 'main-menu' }"
            class="btn btn-radio"
            @click="setCurrentMenu('main-menu')"
          >
            Основное меню
          </button>
          <button
            :class="{ active: currentMenu === 'business-menu' }"
            class="btn btn-radio"
            @click="setCurrentMenu('business-menu')"
          >
            Бизнес ланч
          </button>
        </div>

        <h3 v-if="currentMenu === 'business-menu'">
          Минимальная сумма заказа бизнес ланчей 2000р
        </h3>

        <transition>
          <CarteMain v-if="currentMenu === 'main-menu'" />
          <KitBusiness v-if="currentMenu === 'business-menu'" />
        </transition>
      </div>
    </section>
  </div>
</template>

<script>
import CarteMain from './CarteMain'
import KitBusiness from './KitBusiness'
export default {
  name: 'CatalogProducts',

  components: { CarteMain, KitBusiness },
  data() {
    return {
      currentMenu: 'main-menu',
    }
  },

  methods: {
    setCurrentMenu(menu) {
      this.currentMenu = menu
    },
  },
}
</script>

<style scoped>
.catalog-dishes {
  margin-top: 20px;
}

.btn-radio {
  padding: 6px 0;
}

.catalog-dishes >>> .categories {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}
.catalog-dishes >>> .categories > .categories__item {
  cursor: pointer;
  margin-right: 5px;
  width: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #262626;
  background: #f3f3f3;
  margin-bottom: 1rem;
}
.catalog-dishes >>> .categories > .categories__item.active {
  background: #262626;
  color: #ffffff;
}
@media (min-width: 768px) {
  .catalog-dishes >>> .categories > .categories__item {
    font-size: 20px;
    line-height: 33px;
    margin-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 641px) {
  .btn-radio + .btn-radio {
    margin-left: 0 !important;
  }
}
</style>
