<template>
  <section class="about" style="margin-top: 50px">
    <img class="vetv_1" src="~assets/img/vetv_1.png" alt="" />
    <div class="container" >
      <h2>Праздники, которые мы с радостью для Вас организуем</h2>
      <div class="wrapper">
        <div class="celebs">
          <div class="celebs__item">
            <div class="celebs__item__img">
              <img
                src="~assets/img/celeb.jpg"
                alt=""
                width="216px"
                height="216px"
              />
            </div>
            <span class="celebs__item__label">Никах</span>
          </div>
          <div class="celebs__item">
            <div class="celebs__item__img">
              <img
                src="~assets/img/celeb_2.jpg"
                alt=""
                width="216px"
                height="216px"
              />
            </div>
            <span class="celebs__item__label">Конференции</span>
          </div>
        </div>
        <div class="celebs">
          <div class="celebs__item">
            <div class="celebs__item__img">
              <img
                src="~assets/img/celeb_3.jpg"
                alt=""
                width="216px"
                height="216px"
              />
            </div>
            <span class="celebs__item__label">Свадьбы</span>
          </div>
          <div class="celebs__item">
            <div class="celebs__item__img">
              <img
                src="~assets/img/celeb_4.jpeg"
                alt=""
                width="216px"
                height="216px"
              />
            </div>
            <span class="celebs__item__label">Семейные<br/> торжества</span>

          </div>
        </div>
      </div>
    </div>
  </section>


</template>

<script>
export default {
  name: "Celebrations"
}
</script>

<style scoped lang="scss">>
.about {
  padding-top: 30px;
}

.vetv_1 {
  position: absolute;
  right: 0;
  top: -26px;
}

.celebs {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {
    border: 1px solid #ffdc83;
    height: 216px;
    display: flex;

    &__img {
      flex: 50%;
    }

    &__label {
      flex: 50%;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
      margin-left: 30px;
    }
  }
}
  @media (max-width: 992px) {
    .wrapper{
      flex-direction: row!important;
      flex-wrap: wrap;

    }
    .celebs{
      flex: 0 0 45%;
      @media (max-width: 768px) {
        flex: 1 1 100%;
        height: fit-content;
      }
      &__item{
        height: 400px;
        flex-direction: column;
        align-items: center;
        @media (max-width: 768px) {
          flex: 1 1 100%;
        }
      }
      &__item__img{
        flex: 1 1 80%;
        img{
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      &__item__label{
        flex: 1 1 20%;
        margin: 0;
        @media (max-width: 768px) {
          font-size: 20px;
          margin: 10px 0;
        }
      }
    }
  }


.wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


h2 {
  max-width: 80%;
}

.container {
  margin-bottom: 60px;
}

@media (min-width: 768px) {
  .about {
    overflow: hidden;
    position: relative;
    padding-bottom: 80px;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  .celebs {
    &__item{
      &__label{
        font-size: 24px;
      }
    }
  }
}


</style>
