<template>
  <section class="contacts" id="contacts">
    <div class="container">
      <h2>Узнать, свободна ли дата</h2>
      <b-alert
        class="alert"
        dismissible
        variant="success"
        :show="showSuccessAlert"
        @dismissed="showSuccessAlert = false;"
        style="margin-top: 30px"
      >
        <h4 class="alert-heading mt-4">Ваш заявка принята!</h4>
        <p>Вскоре мы перезвоним Вам для подтверждения брони.</p>
        <hr/>
      </b-alert>
      <div class="inner">
        <div class="inputs" style="margin: 40px 0 !important;">
          <input
            type="text"
            placeholder="Ваше имя"
            aria-label="Введите ваше имя"
            class="input"
            v-once
            :value="client"
            @input="setClient($event.target.value)"
          >
          <p v-if="logger.client" class="red">Укажите имя</p>

          <input
            type="tel"
            maxlength="11"
            placeholder="Ваш номер телефона"
            aria-label="Введите ваш номер телефона"
            class="input"
            v-once
            :value="phone"
            @input="setPhone($event.target.value)"
          >
          <p v-if="logger.phone" class="red">Укажите телефон</p>
          <input
            type="date"
            placeholder="Дата"
            aria-label="Введите дату"
            class="input"
            v-once
            :value="date"
            @input="setDate($event.target.value)"
          >
          <p v-if="logger.date" class="red">Укажите дата</p>

        </div>
        <button class="btn-cta" @click="submit()">Узнать</button>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from "vue";
import VueYandexMetrika from "vue-yandex-metrika";

export default {
  name: "CheckDate",
  created() {
    Vue.use(VueYandexMetrika, {
      id: 86125591,
      env: process.env.NODE_ENV
    });
  },
  data() {
    return {
      logger: {
        client: false,
        phone: false,
        date: false
      },
      showSuccessAlert: false
    }
  },
  computed: {
    client() {
      return this.$store.state.client.client;
    },
    phone() {
      return this.$store.state.client.phone;
    },
    date() {
      return this.$store.state.client.date;
    }
  },

  methods: {
    setClient(client) {
      this.$store.commit('client/setClient', client);
    },
    setPhone(phone) {
      this.$store.commit('client/setPhone', phone);
    },
    setDate(date) {
      this.$store.commit('client/setDate', date);
    },

    submit() {
      let error;
      if (!this.client) {
        error = true;
        this.logger.client = true;
      }
      if (!this.phone) {
        error = true;
        this.logger.phone = true;
      }
      if (!this.date) {
        error = true;
        this.logger.date = true;
      }
      if (!error) {
        this.$metrika.reachGoal('submit-form');
        this.showSuccessAlert = true;
        this.sendToTelegram();
      }
    },

    closeAlert() {
      this.showSuccessAlert = false;
    },

    async sendToTelegram() {
      try {
        const token = '2072172053:AAG0qxDn1Ug9_1O2zgKMZJqhm1QL-9Dkmk4'
        // Сюда вставляем chat_id
        const mainChatId = '-1001754012027';
        const chatId = '-1001527035688';
        // Определяем переменные для передачи данных из нашей формы
        // Собираем в массив то, что будет передаваться боту
        const txt = `
        Бронь банкета%0A
        ---%0A
        Дата: ${this.date}%0A
        Имя: ${this.client}%0A
        Телефон: ${this.phone}`
        await this.$axios.$get(
          `https://api.telegram.org/bot${token}/sendMessage?chat_id=${chatId}&parse_mode=html&text=${txt}`
        );
        await this.$axios.$get(
          `https://api.telegram.org/bot${token}/sendMessage?chat_id=${mainChatId}&parse_mode=html&text=${txt}`
        );
      } catch (error) {
        // eslint-disable-next-line no-console
        console.error(error)
      }
    },
  }
}
</script>

<style scoped lang="scss">
.contacts {
  padding-bottom: 60px;

  h2 {
    color: white;
  }

  h3 {
    color: white;
  }

  padding-top: 60px;
  background: #262626;
}

button {
  width: 354px;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

input {
  flex: 1;
  padding: 20px;
  max-height: 46.33px;
  width: 95%;
  background: #262626;
  border: 1px solid rgba(203, 201, 194, 0.7);
  box-sizing: border-box;
  border-radius: 48.5px;
  outline: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 21;
  /* or 3px */
  color: #FFFFFF;
}

.inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .inner {
    display: block;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: unset;
  }
}


</style>
