<template>
  <section id="chief" class="chief">
    <div class="container">
      <div class="row pt-4">
        <div class="col-md-6 order-md-1 mb-4">
          <h2>
            Обращение<br />
            от шеф-повара
          </h2>
          <p>
            Я, Ренат Шарафеев, шеф-повар халяль-чайханы "Мархаба", приветствую
            Всех наших дорогих гостей!
          </p>
          <p>
            Я очень признателен Вам за выбор нашей кухни. Уверен, что чуткость и
            особый подход к работе всей нашей команды будет радовать и
            впечатлять Вас. Угощайтесь настоящими блюдами национальной кухни,
            приходите к нам или заказывайте блюда с доставкой.
          </p>
          <p>
            Пробуйте, задавайте вопросы, пишите отзывы. Я буду рад слышать Вас и
            желаю Вам приятных минут за Вашим столом...
          </p>
          <p class="mt-2 mx-0 row row-cols-1 row-cols-sm-2">
            <span class="col">С наилучшими пожеланиями, Ренат Шарафеев</span>
            <span class="col">
              <img class="img-fluid" src="~assets/img/sign.png" alt="" />
            </span>
          </p>
        </div>
        <div class="chief_col col-md-6 order-md-2 mb-4">
          <img class="img-fluid" src="~assets/img/shef.jpeg" alt="" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ChiefInfo',
}
</script>

<style scoped lang="scss">
.chief {
  padding-top: 0px;
  .chief_col {
    position: relative;
    .uzor {
      position: absolute;
      right: 0;
      top: 32px;
      width: 138px;
    }
    .ig_icon {
      width: fit-content;
      border-radius: 50%;
      img {
        padding: 9px;
      }
      background: #262626;
    }
  }
}
p {
  margin-bottom: 0 !important;
}

@media (min-width: 992px) {
  .chief {
    padding-top: 80px;
  }
}

@media (min-width: 768px) {
  .chief {
    overflow: hidden;
    position: relative;
    padding-bottom: 80px;
    .chief_img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .uzor_big {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
</style>
