<template>
  <section class="contacts" id="contacts">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mb-4">
          <h2>Контакты</h2>

          <div class="contact_item mt-5 d-flex align-items-center">
            <img class="mr-5" src="~assets/icons/cont_1.svg" alt="" />
            <div>
              <a href="tel:+79272491617"><h3>+ 7 (927) 249-16-17</h3></a>
              <a href="tel:88432491617"><h3>8 (843) 249-16-17</h3></a>
            </div>
          </div>
          <div class="contact_item mt-4 d-flex align-items-center">
            <img class="mr-5" src="~assets/icons/cont_2.svg" alt="" />
            <h3>
              Казань, ул. Баумана, д. 7/10 <br />
              м. Кремлёвская
            </h3>
          </div>
          <div class="contact_item mt-4 mb-4 d-flex align-items-center">
          </div>
          <button class="btn-cta" v-b-modal.my-modal>Забронировать столик</button>
        </div>
        <div class="col-md-6 mb-4">
          <iframe
            src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad5223cb315dde53d2bf2046bc06dacd713d632b622aaf411fd3396a030d07ad9&amp;source=constructor"
            width="100%"
            height="500"
            frameborder="0"
          ></iframe>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ContactsRestaurant'
}
</script>

<style scoped lang="scss">
.contacts {
  h2 {
    color: white;
  }
  h3 {
    color: white;
  }
  padding-top: 24px;
  background: #262626;
}

@media (min-width: 768px) {
  .contacts{
    padding-top: 80px;
  }
}
</style>
