<template>
  <section class="header">
    <img
      class="vetv_1_dec d-none d-md-block"
      src="~assets/img/vetv_1_dec.png"
      alt=""
    />
    <img
      class="vetv_2_dec d-none d-md-block"
      src="~assets/img/vetv_2_dec.png"
      alt=""
    />

    <img class="vetv_1 d-md-none" src="~assets/img/vetv_1.png" alt="" />
    <img class="vetv_2 d-md-none" src="~assets/img/vetv_2.png" alt="" />
    <div class="container h-100">
      <div class="row">
        <div class="col-12 header_col">
          <h1 class="mt-md-5">
            Халяль-чайхана национальной кухни
          </h1>
          <h3>
            Забронируйте столик прямо сейчас или закажите доставку онлайн!
          </h3>
          <nuxt-link to="/kitchen">
            <button class="btn-cta mb-3">Заказать доставку</button>
          </nuxt-link>
          <button class="btn-cta mb-3 ml-lg-5" v-b-modal.my-modal>Забронировать столик</button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Banket'
}
</script>

<style scoped lang='scss'>
.header {
  min-height: calc(100vh - 47px);

  @media (min-width: 768px) {
    min-height: calc(100vh - 82px);
    background: url("../assets/img/pizza.png") right bottom no-repeat #262626;
  }

  background: url("../assets/img/pizza_mobile.png") right bottom no-repeat #262626;
  background-size: 60% auto;

  @media (min-width: 576px) {
    background-size: auto 60%;
  }

  position: relative;
  .vetv_1 {
    position: absolute;
    right: 0;
    top: 56px;
  }

  .vetv_2 {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .pizza {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .header_col {
    position: relative;
    h1 {
      margin-top: 30px;
    }
    h3 {
      color: white;
      margin-top: 50px;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: bold;
      line-height: 29px;
    }
    .uzor {
      margin-top: 60px;
      width: 54px;
    }
  }
  button {
    width: 290px;
    border: 1px solid #2626266e;
  }

  h1{
    font-size: 32px;
  }

  h3{
    font-size: 18px;
  }

  @media (min-width: 768px) {
    & {
      width: 100%;
      .vetv_1_dec {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 439px;
      }

      .vetv_2_dec {
        position: absolute;
        top: -100px;
        right: 0;
        width: 364px;
      }

      .pizza_dec {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 692px;
      }
      position: relative;

      .header_col {
        .uzor {
          margin-top: 90px;
          width: 95px;
        }

        h1{
          font-size: 52px;
        }

        h3 {
          font-size: 25px;
          margin-bottom: 60px;
        }
        button {
          width: 354px;
          border: none;
        }
      }
    }
  }
  @media (min-height: 1080px) {
    min-height: 1000px;
  }
}
</style>
