<template>
  <div v-if="cartItems" class="checkout_card">
    <b-alert
      class="alert"
      dismissible
      variant="success"
      :show="showSuccessAlert"
      @dismissed="showSuccessAlert = false"
    >
      <h4 class="alert-heading mt-4">Ваш заказ принят!</h4>
      <p>Вскоре мы перезвоним Вам и подтвердим заказ.</p>
      <hr />
    </b-alert>
    <div v-if="!inTheHall">
      Имя: {{ client ? client : '' }}<br>
      Телефон: {{ phone ? phone : '' }}<br>
      Адрес: {{ selfPickup ? 'Самовывоз' : address }}<br>
      Время доставки: {{ timing ? timing : '' }}
    </div>
    <div class="d-flex justify-content-between">
      <div class="vibrano">Выбрано</div>
      <p>{{ amount }} товар(ов)</p>
    </div>
    <div
      v-for="cartItem in cartItems"
      :key="cartItem.name"
      class="checkout_item d-flex justify-content-between align-items-start"
      style="flex-wrap: nowrap;"
    >
      <p class="col-10" style="flex: 1 1 auto; padding: 0">{{ cartItem.name }} x {{ cartItem.amount }}</p>
      <p class="col-2" style="flex: 1 1 auto;text-align: end;max-width: fit-content">{{ cartItem.price * cartItem.amount }} ₽</p>
    </div>

    <template v-if="businessCartItems">
      <div
        v-for="(kit, index) in businessCartItems"
        :key="kit.cost + index"
        class="checkout_item d-flex align-items-start"
      >
        <div class="col-10">
          {{ kit.category }}:
          <ul>
            <li
              v-for="product in kit.products"
            >
              {{ product.name }}
            </li>
          </ul>
        </div>
        <p class="col-2">{{ kit.cost }} ₽</p>
      </div>
    </template>


    <div
      v-if="!selfPickup && !inTheHall"
      class="checkout_item d-flex justify-content-between align-items-center mt-2"
    >
      <p>Доставка</p>
      <p v-if="Number(checkoutPrice) <= 2000">+ 280 ₽</p>
      <p v-else>Бесплатно</p>
    </div>
    <div
      class="d-flex justify-content-between align-items-center"
    >
      <div class="itogo">Итого</div>
      <div class="itogo_price">{{!selfPickup && !inTheHall && Number(checkoutPrice) <= 2000 ? checkoutPrice + 280 : checkoutPrice }} ₽</div>
    </div>

    <button @click="checkForm" v-ripple class="btn-cta btn-cta_small w-100" v-if="!inTheHall">
      Оформить заказ
    </button>
  </div>
</template>

<script>
import Vue from "vue";
import VueYandexMetrika from "vue-yandex-metrika";

export default {
  name: 'FormPaymentOrder',

  props: {
    timing: {
      type: String,
      default: '00'
    },
    selfPickup: {
      type: Boolean,
      default: undefined
    },
    inTheHall: {
      type: Boolean,
      default: undefined
    }
  },
  created() {
    Vue.use(VueYandexMetrika, {
      id: 86125591,
      env: process.env.NODE_ENV
    });
  },
  data() {
    return {
      errors: {
        client: null,
        phone: null,
        address: null,
        timing: null
      },
      showSuccessAlert: false,
    }
  },

  computed: {
    client(){
      return this.$store.state.client.client
    },
    phone() {
      return this.$store.state.client.phone
    },
    address() {
      return this.$store.state.client.address
    },
    amount() {
      return this.$store.state.cart.amount
    },
    cartItems() {
      return this.$store.state.cart.cartItems
    },
    businessCartItems() {
      return this.$store.state.cart.businessCartItems;
    },
    checkoutPrice() {
      return this.$store.state.cart.checkoutPrice
    }
  },

  methods: {
    checkForm() {
      this.errors.client = !this.client;

      this.errors.phone = !this.phone;

      this.errors.address = !this.selfPickup && !this.address;

      this.errors.timing = !this.timing;

      for (const error in this.errors) {
        if (this.errors[error]) {
          this.$emit('errorLog', this.errors);
          return
        }
      }
      window.scrollTo(0, 0);
      this.showSuccessAlert = true
      this.sendToTelegram();
      this.$metrika.reachGoal('submit-form')
    },

    closeAlert() {
      this.showSuccessAlert = false
    },

    async sendToTelegram() {
      const businessOrder = this.businessCartItems.length
        ? 'Бизнес-ланчи: %0A%0A' +
        this.businessCartItems.map(item => item.category + ' -- ' + item.cost + ' p. :%0A%0A' + item.products.map(p => p.name + '%0A').join('')).join('%0A---%0A%0A') + '%0A%0A---------%0A%0A'
        : '';
      const menuOrder = this.cartItems.length
        ? 'Основное меню: %0A%0A' +
        this.cartItems.map(item => item.name + ' -- Кол-во: ' + item.amount + ' -- Цена: ' + item.price + ' р. -- Стоимость: ' + item.price * item.amount + ' р. ').join('%0A%0A') + '%0A%0A---------%0A%0A'
        : '';
      try {
        const token = '2072172053:AAG0qxDn1Ug9_1O2zgKMZJqhm1QL-9Dkmk4'

        const chatId = '-1001527035688';
        const mainChatId = '-1001754012027';

        const txt = `
        Заказ%0A
        ---------%0A
        ${businessOrder.replace('/,/g','')}
        %0A
        ${menuOrder.replace('/,/g','')}
        ${this.address && !this.selfPickup
          ? `
          %0A%0A
          Доставка: ${Number(this.checkoutPrice) <= 2000 ? '280 руб.' : 'Бесплатно'}%0A%0A
          `
          : this.selfPickup ? 'Самовывоз%0A%0A' : ''
        }
        ИТОГО: ${!this.selfPickup && !this.inTheHall && Number(this.checkoutPrice) <= 2000 ? this.checkoutPrice + 280 : this.checkoutPrice} р. %0A%0A
        ---------%0A%0A
        Имя: ${this.client}%0A
        Телефон: ${this.phone}%0A
        Адрес: ${this.selfPickup ? 'Самовывоз' : this.address}%0A
        Время: ${this.timing}`;
        await this.$axios.$get(
          `https://api.telegram.org/bot${token}/sendMessage?chat_id=${chatId}&parse_mode=html&text=${txt}`
        );
        await this.$axios.$get(
          `https://api.telegram.org/bot${token}/sendMessage?chat_id=${mainChatId}&parse_mode=html&text=${txt}`
        );
        // await this.$axios.$get(
        //   `https://api.telegram.org/bot${token}/sendMessage?chat_id=712255297&parse_mode=html&text=${txt}`
        // );
      } catch (error) {
        // eslint-disable-next-line no-console
        console.error(error)
      }
    },
  }
}
</script>

<style scoped lang="scss">
.col-2{
  padding: 0;
}
.alert {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.checkout_card {
  padding: 20px;
  background: #f1f1f1;
  border-radius: 7px;
  position: relative;
  .itogo {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21%;
    /* or 3px */

    color: #262626;
  }
  .itogo_price {
    font-style: normal;
    font-weight: 600;
    /* identical to box height */

    color: #262626;
  }

  button {
    margin-top: 31px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21%;
    /* or 3px */
    height: 34px;
    color: #262626;
  }
}

@media (min-width: 768px) {
  .checkout_card {
    button {
      height: 40px;
      font-size: 20px;
      line-height: 21%;
    }
  }
}
</style>
