<template>
  <section class="container pt-4">
    <div class="row">
      <div class="col-12 d-flex align-items-start justify-content-between">
        <h2>Оформление заказа</h2>
        <nuxt-link class="mt-3 btn-cta btn-cta_small btn-cta_outline" to="/cart">
          К корзине
        </nuxt-link>
      </div>

      <div class="col-12 col-md-6">
        <FormPaymentForm
          @self-pickup="setSelfPickup"
          @in-the-hall="setInTheHall"
          @timing="setTiming"
          :errorLog="errorLog"
        />
      </div>
      <div class="col-12 col-md-6">
        <FormPaymentOrder
          :timing="timing"
          :selfPickup="selfPickup"
          :inTheHall="inTheHall"
          @errorLog="setErrorLog"
        />
      </div>
    </div>
  </section>
</template>

<script>
import FormPaymentOrder from './FormPaymentOrder'
import FormPaymentForm from './FormPaymentForm'
export default {
  name: 'FormPayment',
  components: { FormPaymentOrder, FormPaymentForm },

  data() {
    return {
      selfPickup: undefined,
      inTheHall: false,
      timing: '00:00',
      errorLog: {
        client: null,
        phone: null,
        address: null,
        timing: null
      }
    }
  },

  methods: {
    setErrorLog(errorLog) {
      this.errorLog = errorLog;
    },
    setTiming(timing) {
      this.timing = timing;
    },
    setSelfPickup(selfPickup) {
      this.selfPickup = selfPickup;
    },
    setInTheHall(inTheHall) {
      this.inTheHall = inTheHall;
    }
  }
}
</script>

<style scoped>

</style>
