<template>
  <div>
    <h3>Детали доставки</h3>

    <p>Способ получения заказа:</p>
    <div style="margin-bottom: 10px;">
      <button
        class="btn-cta btn-cta_small"
        @click="setOrder('delivery')"
        :disabled="selfPickup === false && inTheHall === false"
      >
        Доставка
      </button>
      <button
        class="btn-cta btn-cta_small"
        @click="setOrder('self')"
        :disabled="selfPickup === true && inTheHall === false"
      >
        Самовывоз
      </button>
      <button
          class="btn-cta btn-cta_small"
          @click="setOrder('hall')"
          :disabled="selfPickup === false && inTheHall === true"
      >
        В зале
      </button>
    </div>
    <div
      v-if="selfPickup === false && inTheHall === false"
    >
      <input
        class="input"
        placeholder="Ваш адрес"
        type="text"
        aria-label="Введите адрес"
        v-once
        :value="address ? address : ''"
        @input="setAddress($event.target.value)"
      />
      <p v-if="errorLog.address" class="red">Укажите адрес</p>
    </div>
    <div
      v-if="selfPickup === true && inTheHall === false"
    >
      <p>Забрать заказ вы сможете по адрессу:</p>
      <p>
        Казань, ул. Баумана, д. 7/10 <br />
        м. Кремлёвская
      </p>
    </div>
    <div v-if="selfPickup === false && inTheHall === true">
      <p>Нажмите на кнопку "Вызов официанта" и ожидайте, пока к Вам не подойдут</p>
    </div>
    <div v-if="!inTheHall">
      <span style="margin: 10px 0; display: block">Время доставки:</span>
      <label class="d-block">
        <input
            name="timingInTime"
            type="radio"
            @input="setTiming(fastest)"
        >
        Как можно скорее
      </label>
      <div>
        <input
            name="timingInTime"
            id="timingInTime"
            type="radio"
            @input="setTiming('')"
        >
        <label for="timingInTime">
          Ко времени
        </label>
        <div class="timing-menu">
          <button
              v-for="time in getTimes()"
              :key="time"
              :disabled="time === timing"
              class="btn-cta btn-cta_small m-1"
              @click="setTiming(time + ':00')"
          >
            {{ time + ':00'  }}
          </button>
        </div>
      </div>
      <p v-if="errorLog.timing" class="red">Укажите время</p>
    </div>
    <div v-if="!inTheHall">
      <h3>Контактная информация</h3>

      <input
          type="text"
          placeholder="Ваше имя"
          aria-label="Введите ваше имя"
          class="input"
          :value="client ? client : ''"
          v-once
          @input="setClient($event.target.value)"
      >
      <p v-if="errorLog.client" class="red">Укажите имя</p>

      <input
          type="tel"
          placeholder="Ваш номер телефона"
          aria-label="Введите ваш номер телефона"
          class="input"
          v-once
          :value="phone ? phone : ''"
          @input="setPhone($event.target.value)"
      >
      <p v-if="errorLog.phone" class="red">Укажите телефон</p>

    </div>
  </div>
</template>

<script>
export default {
  name: 'FormPaymentForm',

  props: {
    errorLog: {
      type: Object,
      default() {
        return {
          client: null,
          phone: null,
          address: null,
          timing: null
        }
      }
    }
  },

  data() {
    return {
      selfPickup: undefined,
      inTheHall: false,
      date: new Date().getUTCHours() + 3,
      minutes: new Date().getMinutes(),
      timing: '00:00',
      fastest: 'Как можно скорее'
    }
  },

  computed: {
    client() {
      return this.$store.state.client.client;
    },
    phone() {
      return this.$store.state.client.phone;
    },
    address() {
      return this.$store.state.client.address;
    },
    businessCartItems() {
      return this.$store.state.cart.businessCartItems;
    }
  },

  methods: {
    timeIsValid(time) {
      if (!this.businessCartItems.length) return true;

      return !((time < 12) || (time > 14));
    },
    getTimes() {
      let times = [];
      for (let i = this.date; i <= 19; i++) {
        let time = i + 2;
        if (this.timeIsValid(time)) {
          this.minutes >= 10 ? times.push(++time) : times.push(time);
        }
      }
      return times;
    },
    setTiming(timing) {
      this.timing = timing;
      this.$emit('timing', timing)
    },
    setClient(client) {
      this.$store.commit('client/setClient', client);
    },
    setPhone(phone) {
      this.$store.commit('client/setPhone', phone);
    },
    setAddress(address) {
      this.$store.commit('client/setAddress', address);
    },
    setOrder(order) {
      switch (order){
        case 'delivery': {
          this.selfPickup = false;
          this.inTheHall = false;
          this.$emit('self-pickup', false);
          this.$emit('in-the-hall', false);
          break;
        }
        case 'self': {
          this.selfPickup = true;
          this.inTheHall = false;
          this.$emit('self-pickup', true);
          this.$emit('in-the-hall', false);
          break;
        }
        case 'hall': {
          this.selfPickup = false;
          this.inTheHall = true;
          this.$emit('self-pickup', false);
          this.$emit('in-the-hall', true);
          break;
        }
      }
    }
  }
}
</script>

<style scoped lang="scss">
.input {
  margin-bottom: 12px;
  width: 100%;
  padding: 20px;
  height: 46.33px;
  background: #f1f1f1;
  border-radius: 9.35926px;
  outline: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 200;
  line-height: 21;
  color: #262626;
  border: 1px solid #26262640;

}

.timing-menu {
  display: none;
}
#timingInTime:checked ~ .timing-menu {
  display: block;
}
</style>
