<template>
  <section class="wh">
    <div class="container">
      <h2>Особенности</h2>
      <div class="row">
        <div class="col-6 col-md-3 wh-card">
          <span class="number">1.</span>
          <img src="~assets/icons/wifi.svg" alt="" />
          <h3>Есть Wi-Fi</h3>
          <div class="line"></div>
        </div>
        <div class="col-6 col-md-3 wh-card">
          <span class="number">2.</span>
          <img src="~assets/icons/duck.svg" alt="" />
          <h3>Для детей: Стульчики, Принадлежности для рисования</h3>
          <div class="line"></div>
        </div>
        <div class="col-6 col-md-3 wh-card">
          <span class="number">3.</span>
          <img src="~assets/icons/vip.svg" alt="" />
          <h3>VIP: Комнаты на 10, 8 и 4 человека</h3>
          <div class="line"></div>
        </div>
        <div class="col-6 col-md-3 wh-card">
          <span class="number">4.</span>
          <img src="~assets/icons/car.svg" alt="" />
          <h3>Парковка: Своя, бесплатная</h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'InfographicsAdvantages',

  data() {
    return {

    }
  }
}
</script>

<style scoped lang="scss">
.wh {
  background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(128, 128, 128, 0.9) ), url('~assets/hall/2.webp');
  background-position: center;
  background-size: cover;
  padding-top: 37px;

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 90px;
    &:after {
      content: none;
    }
  }

  h3 {
    flex: 1;
    margin-top: 38px !important;
  }
  .wh-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

    h3 {
      color: white;
      margin-top: 16px;
      margin-bottom: 19px;
      text-align: center;
    }
    .line {
      width: 33px;
      height: 1px;
      background: #ffdc83;
    }
  }

  @media (min-width: 768px) {
    & {
      .wh-card {
        width: 75px;
      }
    }
  }
}
.number{
  color: #FFDC83;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 33px;
  text-shadow: 0.566667px 0.566667px 11.3333px rgba(255, 220, 131, 0.3);
  width: 100%;
  text-align: start;
}

img {
  width: 77px;
  height: 77px;
}
</style>
