<template>
  <section class="about" id="about-us">
    <img
      class="uzor_big d-none d-md-block"
      src="~assets/img/about_uzor.png"
      alt=""
    />
    <div class="container">
      <div class="row pt-4">
        <div class="about_col col-md-6 order-md-2 mb-4">
          <img
            class="uzor d-md-none"
            src="~assets/img/about_uzor.png"
            alt=""
          />
          <h2>О чайхане</h2>
          <p>
            Уютное и тихое место в самом сердце города Казани,
            где каждая деталь интерьера напоминает о загадочном Востоке
            с его многовековыми традициями и богатой культурой,
            а в меню - национальные блюда, приготовленные с соблюдением стандарта халяль
          </p>
          <div class="links">
            <a
              target="_blank"
              class="ig_icon"
              href="https://www.instagram.com/markhaba_chaihana/"
            >
              <img
                src="~assets/icons/ig_b.svg"
                alt=""
              >
            </a>
            <a
              target="_blank"
              class="ig_icon"
              href="https://www.facebook.com/chaihana.markhaba"
            >
              <img
                src="~assets/icons/fb.svg"
                alt=""
              >
            </a>
            <a
              target="_blank"
              class="ig_icon"
              href="https://vk.com/public196714114/"
            >
              <img
                style="margin-bottom: -2px"
                src="~assets/icons/vk.svg"
                alt=""
              >
            </a>
          </div>
        </div>
        <div class="col-md-6 order-md-1 mb-4">
          <img
            class="img-fluid about_img"
            src="~assets/img/Pano.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'InfoInterior'
}
</script>

<style scoped lang="scss">
.about {
  .about_col {
    position: relative;
    .uzor {
      position: absolute;
      right: 0;
      top: 32px;
      width: 138px;
    }
    p {
      padding-top: 15px;
    }
    .ig_icon {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      width: 40px;
      height: 40px;

      img {
        padding: 8px;

      }
      background: #262626;
    }
  }
}

.links {
  display: flex;
  gap: 5px;
}

@media (min-width: 768px) {
  .about {
    overflow: hidden;
    position: relative;
    padding-bottom: 80px;
    padding-top: 80px;

    .about_img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
    .uzor_big {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
</style>
