<template>
  <section class="dostavka">
    <div class="container">
      <h2>О доставке</h2>
      <div class="row">
        <div class="col-6 col-md-3 wh-card">
          <img src="~assets/icons/dos_1.svg" alt="" />
          <h3>Положите понравившиеся товары в корзину</h3>
          <div class="line"></div>
        </div>
        <div class="col-6 col-md-3 wh-card">
          <img src="~assets/icons/dos_2.svg" alt="" />
          <h3>Укажите ваш адрес</h3>
          <div class="line"></div>
        </div>
        <div class="col-6 col-md-3 wh-card">
          <img src="~assets/icons/dos_3.svg" alt="" />
          <h3>Оформите заказ</h3>
          <div class="line"></div>
        </div>
        <div class="col-6 col-md-3 wh-card">
          <img src="~assets/icons/dos_4.svg" alt="" />
          <h3>
            Получите товар у курьера или заберите товар в пункте самовывоза
          </h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'InfographicsDelivery'
}
</script>

<style scoped lang="scss">
.dostavka {
  background: #262626;
  background-position: center;
  background-size: cover;
  padding-top: 37px;

  h2 {
    text-align: center;
    color: white;
    margin-bottom: 90px;
    &:after {
      content: none;
    }
  }
  .wh-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;

    h3 {
      color: white;
      margin-top: 16px;
      margin-bottom: 19px;
      text-align: center;
    }
    .line {
      width: 33px;
      height: 1px;
      background: #ffdc83;
    }
  }
}
</style>
