<template>
  <div>
    <template v-if="mutation !== null">
      <KitBusinessCreationMenu
        :businessLunch="mutation.businessLunch"
        @cancelChange="cancelChange"
        @applyChange="applyChange"
      />
    </template>
    <template v-if="!kits.length || addition">
      <KitBusinessCreationMenu
        @cancelChange="cancelChange"
        @applyChange="setKit"
      />
    </template>

    <template v-if="(mutation === null) && !addition && kits.length">
      <div
        class="py-4"
        v-for="(kit, index) in kits"
        :key="index"
      >
        <ul>
          <li
            v-for="dish in kit.products"
            :key="dish.name"
          >
            <h3>{{ dish.name }}</h3>
          </li>
        </ul>
        <div class="flex-container">
          <div class="flex-container" style="margin-right: 20px;">
            <p class="span-without-margin">тип: </p><h3 class="span-without-margin">{{ kit.category }}</h3>
          </div>
          <div class="flex-container" style="align-items: center;">
            <p class="span-without-margin">цена: </p><h3 class="span-without-margin">{{ kit.cost }}</h3>
          </div>
        </div>
        <button
          @click="deleteKit(index)"
          class="btn-cta btn-cta_small"
        >
          Удалить
        </button>
        <button
          @click="startChange(index)"
          class="btn-cta btn-cta_small"
        >
          Изменить
        </button>
      </div>

      <div class="mb-4" style="margin-top: 29px;">
        <button
          class="btn-cta btn-cta_small"
          @click="addition = true"
        >
          Добавить набор
        </button>
      </div>

      <div class="flex-container" style="margin-bottom: 35px;">
        <button
          class="btn-cta btn-cta_small"
          @click="$emit('cancelChange')"
        >
          Отменить
        </button>

        <button
          class="btn-cta btn-cta_small"
          @click="$emit('applyChange', kits); addToCard()"
          :disabled="!isAvailableForOrder"
        >
          Сохранить
        </button>
        <p
          class="span-without-margin"
          v-if="!isAvailableForOrder"
        >
          От пяти наборов
        </p>
      </div>
    </template>
  </div>
</template>

<script>
  import Vue from "vue";
  import VueYandexMetrika from "vue-yandex-metrika";

  export default {
    name: 'KitBusinessCompositionMenu',
    data() {
      return {
        mutation: null,
        addition: false
      }
    },

    computed: {
      kits() {
        return this.$store.state.businessmenu.kits;
      },
      isAvailableForOrder() {
        return this.kits.length > 4;
      }
    },
    created() {
      Vue.use(VueYandexMetrika, {
        id: 86125591,
        env: process.env.NODE_ENV
      });

      let kits = this.$store.state.cart.businessCartItems;

      if(kits.length) {
        let newKits = Array.from(new Set(kits));
        this.$store.commit('businessmenu/setKits', newKits);
      }
    },

    methods: {
      startChange(index) {
        let businessLunch = {};
        Object.assign(businessLunch, this.kits[index])
        this.mutation = {
          index,
          businessLunch
        };
      },

      cancelChange() {
        this.mutation = null;
        this.addition = false;
      },
      applyChange(newKit) {
        let change = {
          id: this.mutation.index,
          kit: newKit
        }
        this.$store.commit('businessmenu/setKitById', change);
        this.mutation = null;
      },
      setKit(order) {
        this.$store.commit('businessmenu/setKit', order);
        this.addition = false;
      },
      deleteKit(index) {
        this.$store.commit('businessmenu/deleteKit', index);
      },
      addToCard() {
        this.$metrika.reachGoal('add-to-cart');
      }
    }
  }
</script>

<style scoped>

</style>
