<template>
  <div style="margin-bottom: 60px">
    <template v-if="!isChanges">
      <div
        class="cart-item py-4 d-flex row align-items-start"
        v-if="businessLunch.length"
      >
        <div class="col-12 col-lg-8">
          <div
            class="py-4"
            v-for="kit in businessLunch"
            :key="kit.cost"
          >
            <h3>{{ kit.category }}: {{ kit.cost }} р.</h3>
            <ul>
              <li
                v-for="product in kit.products"
              >
                <p class="span-without-margin">{{ product.name }}</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-lg-4 d-flex align-items-center justify-content-between">
          <button
            class="btn-cta btn-cta_small"
            @click="startChange"
          >
            Изменить
          </button>
          <span class="price">{{ cost }} р.</span>
          <button
            class="trash btn"
            v-ripple
            @click="applyChange([])"
          >
            <img
              src="~assets/icons/trash.svg"
              alt=""
            />
          </button>
        </div>
      </div>

<!--      <template-->
<!--        v-if="!businessLunch.length"-->
<!--      >-->
<!--        <h3>Минимальная сумма заказа бизнес ланчей 2000р</h3>-->
<!--        <button-->
<!--          class="btn-cta btn-cta_small"-->
<!--          @click="startChange"-->
<!--        >-->
<!--          Собрать набор-->
<!--        </button>-->
<!--      </template>-->
    </template>
    <template v-if="isChanges" >
      <KitBusinessCompositionMenu
        @cancelChange="cancelChange"
        @applyChange="applyChange"
      />
    </template>
  </div>
</template>

<script>
import KitBusinessCompositionMenu from "./KitBusinessCompositionMenu";
export default {
  name: 'KitBusiness',
  components:{
    KitBusinessCompositionMenu
  },
  data() {
    return {
      isChanges: false,
    }
  },

  mounted() {
    this.startChange();
  },

  methods: {
    startChange() {
      this.isChanges = true;
    },
    cancelChange() {
      this.isChanges = false;
    },

    applyChange(kits) {
      this.isChanges = false;

      let newKits = Array.from(new Set(kits));

      this.$store.commit('cart/setBusinessCartItems', newKits);
    },

  },

  computed: {
    cost() {
      let cost = 0;
      for (const kit of this.businessLunch) {
        cost += kit.cost;
      }
      return cost;
    },
    businessLunch() {
      return this.$store.state.cart.businessCartItems;
    },
  }
}
</script>

<style scoped lang="scss">
.cart-item {
  border-top: 1px solid rgba(196, 196, 196, 0.5);
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}
.price {
  float: right;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #373737;

  @media (min-width: 768px) {
    & {
      font-size: 25px;
      line-height: 30px;
    }
  }
}

.trash {
  img {
    cursor: pointer;
    width: 20px;
    align-self: start;
  }

  @media (min-width: 768px) {
    & {
      img {
        width: 50px!important;
        height: 50px!important;
      }
    }
  }

}
</style>
