<template>
  <div>
    <b-modal
      id="business-dish-modal"
      ref="business-dish-modal"
      class="business-dish-modal"
      centered
      hide-footer
      size="lg"
    >
      <BusinessDishModal :server_url="server_url" />
    </b-modal>
    <div class="categories">
      <button
        v-for="menuCategory in menuCategories"
        :key="menuCategory.name"
        class="btn-cta btn-cta_small"
        style="margin-right: 10px"
        :disabled="category === menuCategory.name"
        @click="setMenuCategory(menuCategory.name)"
      >
        {{ menuCategory.name }}
      </button>
    </div>
    <div>
      <h3 v-for="product in products" :key="product.name">
        {{ product.name }}
        <button class="btn" @click="removeDishToBusinessLunch(product)">
          x
        </button>
      </h3>
    </div>

    <div class="flex-container">
      <button class="btn-cta btn-cta_small" @click="$emit('cancelChange')">
        Отмена
      </button>
      <button
        class="btn-cta btn-cta_small"
        :disabled="!cost"
        @click="$emit('applyChange', order)"
      >
        Добавить набор
      </button>
      <p style="margin: 0">
        {{
          cost
            ? cost + ' p.'
            : category === 'Бизнес Ланч'
            ? 'Минимум 2 блюда'
            : 'Минимум 3 блюда'
        }}
      </p>
    </div>

    <template v-if="menuCategories.length">
      <div class="categories">
        <template v-for="category in subCategories">
          <div
            :key="category.name"
            v-ripple
            class="categories__item"
            :class="{ active: subCategory === category.name }"
            @click="subCategory = category.name"
          >
            {{ category.name }}
          </div>
        </template>
      </div>

      <template v-for="category in subCategories">
        <template v-if="category.name === subCategory">
          <div :key="category.name" class="row">
            <div
              v-for="product in category.products"
              :key="product.name"
              class="col-6 col-md-3 mb-5 d-flex"
            >
              <KitBusinessCardDish
                :dish="product"
                @dishSelected="addDishToBusinessLunch(product)"
              />
            </div>
          </div>
        </template>
      </template>
    </template>
  </div>
</template>

<script>
import KitBusinessCardDish from './KitBusinessCardDish'
import BusinessDishModal from './BusinessDishModal'
export default {
  name: 'KitBusinessCreationMenu',
  components: {
    KitBusinessCardDish,
    BusinessDishModal,
  },
  props: {
    businessLunch: {
      type: Object,
      default() {
        return {
          category: 'Бизнес Ланч',
          products: [],
        }
      },
    },
  },

  data() {
    return {
      products: this.businessLunch.products,
      category: this.businessLunch.category,
      subCategory: 'первое',
      menuCategories: [],
      server_url: process.env.server_url,
    }
  },

  computed: {
    order() {
      return {
        cost: this.cost,
        category: this.category,
        products: this.products,
      }
    },

    // eslint-disable-next-line vue/return-in-computed-property
    cost() {
      if (this.category === 'Бизнес Ланч') {
        switch (this.products.length) {
          case 2:
            return 450
          case 3:
            return 550
          default:
            return null
        }
      } else if (
        this.category.includes('VIP') ||
        this.category.includes('Vip')
      ) {
        switch (this.products.length) {
          case 3:
            return 890
          default:
            return null
        }
      }
    },
    store() {
      return this.menuCategories.find(
        (category) =>
          category.name.includes(this.category) && category.marhaba_items
      ).marhaba_items
    },
    subCategories() {
      let categories = [
        {
          name: 'первое',
          products: [],
        },
        {
          name: 'второе',
          products: [],
        },
        {
          name: 'салаты',
          products: [],
        },
      ]
      for (const storeElement of this.store) {
        const category = storeElement.category

        if (!this.products.find((product) => product.category === category)) {
          switch (storeElement.category) {
            case 19:
              categories[0].products.push(storeElement)
              break
            case 20:
              categories[1].products.push(storeElement)
              break
            case 21:
              categories[2].products.push(storeElement)
              break
          }
        }
      }
      categories = categories.filter((category) => category.products.length > 0)

      if (categories.length === 0) return

      this.subCategory = categories[0].name

      return categories
    },
  },

  created() {
    this.$store.dispatch('products/getClasses').then((data) => {
      this.menuCategories = data
    })
  },

  methods: {
    setMenuCategory(category) {
      this.products = []
      this.category = category
      this.subCategory = 'Первое'
    },

    setCategory(index) {
      this.activeCategory = index
    },
    addDishToBusinessLunch(prod) {
      this.products.push(prod)
    },
    removeDishToBusinessLunch(prod) {
      this.products = this.products.filter(
        (product) => product.name !== prod.name
      )
    },
  },
}
</script>

<style scoped></style>
