<template>
  <div class="card-dish flex-fill d-flex flex-column justify-content-between">
    <div>
      <div v-b-modal.business-dish-modal @click="setCurrentDish()">
        <div class="card-dish__container">
          <div class="img-wrapper" v-if="dish.photo">
            <img
              :src="server_url + dish.photo.formats.small.url"
              alt=""
            />
          </div>
        </div>
      </div>
      <h3>{{ dish.name }}</h3>
    </div>
    <button
      v-ripple
      class="btn-cta btn-cta_small"
      @click="$emit('dishSelected', dish);addToCard();"
    >
      В корзину
    </button>
  </div>
</template>

<script>
import Vue from "vue";
import VueYandexMetrika from "vue-yandex-metrika";
import BusinessDishModal from "./BusinessDishModal";

export default {
  name: 'KitBusinessCardDish',
  components: {
    BusinessDishModal
  },
  props: {
    dish: {
      type: Object,
      required: true
    }
  },

  created() {
    Vue.use(VueYandexMetrika, {
      id: 86125591,
      env: process.env.NODE_ENV
    });
  },

  data() {
    return {
      server_url: process.env.server_url,
    }
  },
  methods: {
    addToCard() {
      this.$metrika.reachGoal('add-to-cart');
    },
    setCurrentDish(){
      this.$store.commit('businessmenu/setCurrentDish', this.dish);
    }
  }
}
</script>

<style lang="scss" scoped>
.card-dish {
  width: 100%;
  height: 100%;
  .card-dish__container {
    margin-bottom: 15px;
    position: relative;
    .img-wrapper {
      position: relative;
      width: 100%;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .img-wrapper:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
  }

  button {
    width: fit-content;
  }
}

.modal-header{
  button{
    color: #000;
  }
}

.modal-content {
  background: #fff;
}

.modal-body {
  background: #fff;
}
</style>
