<template>
    <vue-slick-carousel class="main-slider mb-5" v-bind="settings">
      <slot></slot>
    </vue-slick-carousel>
</template>

<script>
export default {
  name: 'LayoutSlider',

  props: {
    slidesToShow: {
      type: Array,
      default() {
        return [4, 4, 3, 2, 1]
      }
    }
  },

  data() {
    return {
      settings: {
        "dots": true,
        "arrows": false,
        "slidesToShow": this.slidesToShow[0],
        "swipeToSlide": true,
        "waitForAnimate": false,
        "infinite": false,
        "responsive": [
          {
            "breakpoint": 1200,
            "settings": {
              "slidesToShow": this.slidesToShow[1],
            }
          },
          {
            "breakpoint": 992,
            "settings": {
              "slidesToShow": this.slidesToShow[2],
            }
          },
          {
            "breakpoint": 768,
            "settings": {
              "slidesToShow": this.slidesToShow[3],
            }
          },
          {
            "breakpoint": 576,
            "settings": {
              "slidesToShow": this.slidesToShow[4],
            }
          }
        ]
      }
    }
  }
}
</script>

<style scoped>

</style>
