<template>
  <div>
    <div class="menu">
      <div class="container">
        <div class="row">
          <div class="col-12 menu_col">
            <nuxt-link class="logo-body" to="/">
              <img data-not-lazy class="d-md-none" src="~assets/img/Logo_yellow-01.png" alt="" width="40px" height="40px"/>
            </nuxt-link>
            <div class="call d-md-none" v-b-modal.call-modal>
              <img
                src="~assets/icons/phone.svg"
                alt=""
                width="24px"
                height="24px"
              />
            </div>
            <nuxt-link class="logo-mobile" to="/">
              <img
                data-not-lazy
                class="d-none d-md-block big_logo"
                src="~assets/img/Logo_yellow-01.png"
                alt=""
              />
            </nuxt-link>
            <div class="menu_items d-none d-lg-flex">
              <div class="menu_item">
                <nuxt-link to="/kitchen">Меню</nuxt-link>
              </div>
              <div class="menu_item">
                <nuxt-link :to="{ path: '/chief' }">О шеф-поваре</nuxt-link>
              </div>
              <div class="menu_item">
                <nuxt-link :to="{ path: '/about-us' }">О чайхане</nuxt-link>
              </div>
              <div class="menu_item">
                <nuxt-link :to="{ path: '/contacts' }">Контакты</nuxt-link>
              </div>
              <div class="menu_item">
                <nuxt-link :to="{ path: '/banket' }">Банкетный зал</nuxt-link>
              </div>
            </div>
            <carticon class="d-none d-md-block" />
            <a href="tel:+79272491617" class="tel">+7 (927) 249-16-17</a>
            <img
              v-b-toggle.sidebar-1
              class="d-lg-none"
              src="~assets/icons/menu.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="call d-none d-md-block" v-b-modal.call-modal>
      <img
        src="~assets/icons/phone.svg"
        width="60px"
        height="60px"
        alt=""
      />
    </div>
    <b-modal id="call-modal" centered ref="call-modal" class="callmodal" hide-footer>
      <ModalCall />
    </b-modal>
  </div>
</template>

<script>
import carticon from './carticon.vue'
export default {
  components: { carticon },
  setup() {
    return {}
  },
  methods: {

  }
}
</script>

<style lang="scss" scoped>
.menu {
  z-index: 1000;
  position: fixed;
  width: 100%;
  padding: 7px 0;
  background: #262626;
  .logo-body{
    display: block;
  }
  .logo-mobile{
    flex: 1 1 auto;
  }
  .menu_col {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .tel {
      font-family: 'El Messiri', sans-serif;
      font-style: normal;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height */
      color: #fff;
      padding: 0 16px;
    }
    .menu_items {
      display: flex;
      flex-direction: row;
      .menu_item {
        font-family: 'Raleway', sans-serif;
        margin-right: 33px;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 23px;
        text-transform: uppercase;

        color: #ffffff;
      }
    }
  }
}

.call {
  position: unset;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffdc83;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

@media (min-width: 768px) {
  .menu {
    .logo-body{
      display: none;
    }
    .logo-mobile{
      flex: 0 0 auto;
    }
    .menu_col {
      .tel {
        font-size: 20px;
      }
    }
  }
  .big_logo {
    height: 75px;
  }

  .call {
    position: fixed;
    z-index: 500;
    width: 100px;
    height: 100px;
    bottom: 60px !important;
    right: 60px !important;
    padding: 20px;
  }
}
@media (max-width: 992px) {
  .tel{
    padding: 0;
  }
}
</style>
