<template>
  <div class="mymodal_container">
    <b-alert
      class="alert"
      dismissible
      variant="success"
      :show="showSuccessAlert"
      @dismissed="showSuccessAlert = false;$bvModal.hide('my-modal');"
    >
      <h4 class="alert-heading mt-4">Ваш заявка принята!</h4>
      <p>Вскоре мы перезвоним Вам для подтверждения брони.</p>
      <hr />
    </b-alert>
    <div class="d-block text-center mb-5" style="margin-bottom: 15px !important;">
      <h3 class="mymodal_h3">Забронируйте столик</h3>
      <p>На чье имя бронируем?</p>
      <input
        type="text"
        placeholder="Ваше имя"
        aria-label="Введите ваше имя"
        class="input"
        v-once
        :value="client"
        @input="setClient($event.target.value)"
      >
      <p v-if="logger.client" class="red">Укажите имя</p>

      <input
        type="tel"
        maxlength="11"
        placeholder="Ваш номер телефона"
        aria-label="Введите ваш номер телефона"
        class="input"
        v-once
        :value="phone"
        @input="setPhone($event.target.value)"

      >
      <p v-if="logger.phone" class="red">Укажите телефон</p>

    </div>
    <button v-ripple class="btn-cta mt-3 mb-2 w-100" @click="submit">
      Забронировать столик
    </button>
  </div>
</template>

<script>
import Vue from "vue";
import VueYandexMetrika from "vue-yandex-metrika";

export default {
  name: 'ModalReservation',

  created() {
    Vue.use(VueYandexMetrika, {
      id: 86125591,
      env: process.env.NODE_ENV
    });
  },
  data() {
    return {
      logger: {
        client: false,
        phone: false
      },
      showSuccessAlert: false
    }
  },

  computed: {
    client() {
      return this.$store.state.client.client;
    },
    phone() {
      return this.$store.state.client.phone;
    }
  },

  methods: {
    setClient(client) {
      this.$store.commit('client/setClient', client);
    },
    setPhone(phone) {
      this.$store.commit('client/setPhone', phone);
    },

    submit() {
      let error;
      if (!this.client) {
        error = true;
        this.logger.client = true;
      }
      if (!this.phone) {
        error = true;
        this.logger.phone = true;
      }
      if (!error) {
        this.$metrika.reachGoal('submit-form');
        this.showSuccessAlert = true;
        this.sendToTelegram();
      }
    },

    closeAlert() {
      this.showSuccessAlert = false;
    },

    async sendToTelegram() {
      const current = new Date();
      try {
        const token = '2072172053:AAG0qxDn1Ug9_1O2zgKMZJqhm1QL-9Dkmk4'
        // Сюда вставляем chat_id
        const mainChatId = '-1001754012027';
        const chatId = '-1001527035688';
        // Определяем переменные для передачи данных из нашей формы
        // Собираем в массив то, что будет передаваться боту
        const txt = `
        Бронь столика%0A
        ---%0A
        Дата: ${current.getFullYear()}-${current.getMonth()+1}-${current.getDate()}%0A
        Имя: ${this.client}%0A
        Телефон: ${this.phone}`
        await this.$axios.$get(
          `https://api.telegram.org/bot${token}/sendMessage?chat_id=${chatId}&parse_mode=html&text=${txt}`
        );
        await this.$axios.$get(
          `https://api.telegram.org/bot${token}/sendMessage?chat_id=${mainChatId}&parse_mode=html&text=${txt}`
        );
      } catch (error) {
        // eslint-disable-next-line no-console
        console.error(error)
      }
    },
  }
}
</script>

<style scoped lang="scss">
.mymodal_container {
  position: relative;
  background: #262626;
  box-sizing: border-box;
  padding: 1rem;

  .alert {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  h3 {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #f1f1f1;
  }

  p{
    color: #262626;
    margin-bottom: 45px;
  }

  button {
    font-style: normal;
    /* or 3px */
    height: 50px;
    font-family: El Messiri;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #262626;
    padding: 7px 10px;
  }
  input {
    margin-bottom: 20px;
    width: 100%;
    padding: 20px;
    height: 46.33px;
    background: #262626;
    border: 1px solid rgba(203, 201, 194, 0.7);
    color: rgba(203, 201, 194, 0.7);
    box-sizing: border-box;
    border-radius: 48.5px;
    outline: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 21;
    /* or 3px */

    color: #f1f1f1;
  }
}
</style>
