<template>
  <div class="container">
    <h2>Почитайте отзывы о нас</h2>
    <div class="container__items">
      <div class="widget">
        <a
          href="https://yandex.ru/profile/2571573197?intent=reviews&utm_source=badge&utm_medium=rating&utm_campaign=v1"
          target="_blank"
        >
          <img
            class="link"
            src="~assets/icons/yandex.svg"
            alt=""
          />
        </a>
      </div>
      <div class="widget">
        <a
          target="_blank"
          href="https://www.tripadvisor.ru/Restaurant_Review-g298520-d12435868-Reviews-Chaikhana_Markhaba_Halal-Kazan_Republic_of_Tatarstan_Volga_District.html"
        >
          <img
            class="link"
            src="~assets/icons/tripadvisor.svg"
            alt=""
          />
        </a>
      </div>
      <div class="widget">
        <a
          target="_blank"
          href="https://g.page/r/CfPhBSolASXBEAg/review"
        >
          <img
            class="link"
            src="~assets/icons/google.svg"
            alt=""
          />
        </a>
      </div>
      <div class="widget" style="z-index: 1">
        <a
          target="_blank"
          href="https://2gis.ru/kazan/firm/70000001027341206/tab/reviews"
        >
          <img
            class="link"
            src="~assets/icons/2gis.svg"
            alt=""
          />
        </a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Reviews"
}
</script>

<style scoped lang="scss">

.widget {
  flex: 1;
  display: flex;
  justify-content: center;
}

.link {
  width: 207px;
  height: 46px;
}

.container__items{
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .container__items{
    display: flex;
    flex-direction: row;
    gap: 42px;
    margin-bottom: 80px;
  }
  .widget{
    flex: 1;
    display: flex;
    align-items: center;
  }
}

</style>
