<template>
  <section>
    <div class='container mt-4'>
      <h2>Наши акции</h2>
      <LayoutSlider :slidesToShow="[ 3, 3, 2, 2, 1 ]">
        <figure
          v-for="stock in stocks"
          :key="stock.photo.url"
          class="p-2"
        >
          <img
            class="w-100 h-auto"
            :src="require('/assets/img/stocks/' + stock.photo.url)"
            alt=""
          >
          <figcaption class="pt-4">
            <div class="strong">
              {{ stock.heading }}
            </div>
            <div>
              {{ stock.description }}
            </div>
          </figcaption>
        </figure>
      </LayoutSlider>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SliderBaseStocks',

  data() {
    return {
      server_url: '/assets/img/stocks/',

      stocks: [
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Акция спецпредложение',
          description: 'Описание описание описание Описание описание описание Описание описание',
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Акция спецпредложение',
          description: 'Описание описание описание Описание описание описание Описание описание',
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Акция спецпредложение',
          description: 'Описание описание описание Описание описание описание Описание описание',
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Акция спецпредложение',
          description: 'Описание описание описание Описание описание описание Описание описание',
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Акция спецпредложение',
          description: 'Описание описание описание Описание описание описание Описание описание',
        },
      ]
    }
  }
}
</script>

<style scoped>

</style>
