<template>
  <section>
    <div class='container mt-4'>
      <h2>Наши сертификаты</h2>
      <LayoutSlider>
        <figure
          v-for="certificate in certificates"
          :key="certificate.photo.url"
          class="p-2"
        >
          <img
            class="w-100 h-auto"
            :src="require('/assets/img/certificates/' + certificate.photo.url)"
            alt=""
          >
          <figcaption class="price-wrapper pt-4">
            <div class="strong">
              {{ certificate.heading }}
            </div>
            <div>
              {{ certificate.description }}
            </div>
            <div class='price'>
              {{ certificate.price }} p.
            </div>
          </figcaption>
        </figure>
      </LayoutSlider>
    </div>
  </section>
</template>

<script>
export default {
  name: 'SliderBaseCertificates',

  data() {
    return {
      server_url: '/assets/img/stocks/',

      certificates: [
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Сертификат Стандарт',
          description: 'Описание описание описание Описание описание описание Описание описание',
          price: '2 400'
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Сертификат Стандарт',
          description: 'Описание описание описание Описание описание описание Описание описание',
          price: '2 400'
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Сертификат Стандарт',
          description: 'Описание описание описание Описание описание описание Описание описание',
          price: '2 400'
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Сертификат Стандарт',
          description: 'Описание описание описание Описание описание описание Описание описание',
          price: '2 400'
        },
        {
          photo: {
            url: '001.jpg',
          },
          heading: 'Сертификат Стандарт',
          description: 'Описание описание описание Описание описание описание Описание описание',
          price: '2 400'
        },
      ]
    }
  }
}
</script>

<style scoped lang='scss'>
.price-wrapper {
  position: relative;

  .price {
    position: absolute;
    right: 0;
    bottom: 100%;
    color: #262626;
    background: #ffdc83;
    padding: .5rem 1rem;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
  }
}
</style>
