<template>
  <footer>
    <div class="container footer_container">
      <img class="uzor" src="~assets/img/footer_uzor.png" alt="" />
      <div>
        <a href="tel:+79272491617" class="tel">+7 (927) 249-16-17</a>
        <p>Работаем с 9:00 до 22:00, без выходных</p>
      </div>
      <div class="socials">
        <a
          class="socials-item"
          target="_blank"
          href="https://www.facebook.com/chaihana.markhaba"
        >
          <img
            src="~assets/icons/fb_footer.svg"
            alt=""
            />
        </a>
        <a
          class="socials-item"
          target="_blank"
          href="https://vk.com/public196714114/"
        >
          <img
            src="~assets/icons/vk_footer.svg"
            alt=""
            />
        </a>
        <a
          class="socials-item"
          target="_blank"
          href="https://www.instagram.com/markhaba_chaihana/"
        >
          <img
            src="~assets/icons/inst_footer.svg"
            alt=""
            />
        </a>

      </div>
      <div class="dev">
        Разработка сайтов <a href="#">UX-GO</a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>

<style scoped lang='scss'>
footer {
  background: #262626;
  padding-top: 21px;
  .footer_container {
    padding-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    & div:nth-child(1){
      flex: 1 1 auto;
    }
    & div:last-child{
      flex: 1 1 100%;
    }

    .uzor {
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .tel {
      font-family: 'El Messiri', sans-serif;
      color: white;
      font-style: normal;
      font-size: 18px;
      line-height: 22px;
    }
    p {
      margin-top: 10px;
      color: white;
    }
    h3 {
      margin-top: 28px;
      color: white;
    }
    .ig_icon {
      position: absolute;
      bottom: 15px;
      right: 24px;
      width: fit-content;
      border-radius: 50%;
      background: white;
      img {
        padding: 9px;
      }
    }
  }
.dev{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 80px;
  color: #FFFFFF;
  font-size: 16px;
  gap: 4px;
  font-family: "Raleway";
  a{
    color: #ffdc83;
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
  }
}
  @media (min-width: 768px) {
    & {
      .footer_container {
        .uzor {
          width: 442px;
        }
        .tel {
          font-size: 27px;
          line-height: 33px;
        }
        .card_img {
          img {
            width: 102px;
            margin-right: 30px;
          }
        }
      }
    }
  }
}


.socials{
  display: flex;
  gap: 11px;

  &-item{
    width: 42px;
    height: 42px;
  }
}
</style>
