<template>
  <header>
    <b-sidebar id="sidebar-1" title="Чайхана Мархаба" shadow>
      <div class="px-3 py-2 d-flex flex-column justify-content-between h-100">
        <div class="mt-5">
          <nuxt-link to="/">
            <h2 class="mb-3 after_disable">Главная</h2>
          </nuxt-link>
          <nuxt-link to="/kitchen">
            <h2 class="mb-3 after_disable">Меню</h2>
          </nuxt-link>
          <nuxt-link :to="{ path: '/chief' }">
            <h2 class="mb-3 after_disable">О шеф-поваре</h2>
          </nuxt-link>
          <nuxt-link :to="{ path: '/about-us' }">
            <h2 class="mb-3 after_disable">О чайхане</h2>
          </nuxt-link>
          <nuxt-link :to="{ path: '/contacts' }">
            <h2 class="mb-3 after_disable">Контакты</h2>
          </nuxt-link>
          <nuxt-link to="/banket">
            <h2 class="mb-3 after_disable">Банкетный зал</h2>
          </nuxt-link>
          <nuxt-link to="/cart">
            <h2 class="mb-3 after_disable">Корзина</h2>
          </nuxt-link>
        </div>

        <div>
          <h3>
            <a
              class="phone"
              style="color: black"
              href="tel:+79272491617"
            >
              +7 (927) 249-16-17
            </a>
          </h3>
        </div>
      </div>
    </b-sidebar>
    <Menu />
  </header>
</template>

<script>
import ModalCall from "./ModalCall";
export default {
  name: 'TheHeader',
  components: {ModalCall},
  mounted() {
    let yaScript = document.createElement('script');
    yaScript.innerHTML='(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};\n' +
      '   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})\n' +
      '   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");\n' +
      '\n' +
      '   ym(86125591, "init", {\n' +
      '        clickmap:true,\n' +
      '        trackLinks:true,\n' +
      '        accurateTrackBounce:true,\n' +
      '        webvisor:true,\n' +
      '        ecommerce:"dataLayer"\n' +
      '   });'
    let newScript = document.createElement('script');
    newScript.innerHTML = '(function(window,document,n,project_ids)' +
      '{window.GudokData=n;' +
      'if(typeof project_ids !== "object"){project_ids = [project_ids]};window[n] = {};window[n]["projects"]=project_ids;' +
      'config_load(project_ids.join(\',\'));' +
      'function config_load(cId){' +
      'var a=document.getElementsByTagName("script")[0],s=document.createElement("script"),' +
      'i=function(){a.parentNode.insertBefore(s,a)},cMrs=\'\';s.async=true;if(document.location.search&&document.location.search.indexOf(\'?gudok_check=\')===0)cMrs+=document.location.search.replace(\'?\',\'&\');' +
      's.src="//mod.gudok.tel/script.js?sid="+cId+cMrs;' +
      'if(window.opera == "[object Opera]"){document.addEventListener("DOMContentLoaded", i, false)}else{i()}}})(window, document, "gd", "mrd67ylv5e");'
    document.head.appendChild(yaScript);
    document.head.appendChild(newScript);
  }
}
</script>

<style lang="scss" scoped>
  .b-sidebar{
    h2{
      font-size: 23px !important;
      line-height: 30px !important;
    }
  }
</style>
