<template>
  <main v-if="product && is_exist && Number(product.id) === Number(currentId)">
    <AppBtnFloatCart />
    <div class="item_card" v-if="product && is_exist">
      <img class="uzor_card" src="~assets/img/uzor_card.png" alt="" />
      <div class="container">
        <div class="h2_container d-flex">
          <h2>Меню</h2>
          <nuxt-link to="/kitchen">
            <button class="btn-cta btn-cta_small btn-cta_outline">Вернуться назад</button>
          </nuxt-link>
        </div>
        <div class="row mt-md-5">
          <div
            class="
              col-md-6
              order-md-2
              d-flex
              flex-column
              justify-content-between
            "
          >
            <div class="text_container">
              <div class="name mb-2">{{ product.name }}</div>
              <p v-if="product.desc">{{ product.desc }}</p>
            </div>

            <div class="button_control">
              <div class="increaser" v-if="product.price">
                <div v-ripple class="minus" @click="minus()">-</div>
                <div class="number">{{ amount }}</div>
                <div v-ripple class="plus" @click="plus()">+</div>
              </div>
              <button v-ripple class="btn-cta btn-cta_small" @click="pushToCart()">
                В корзину
              </button>
            </div>
          </div>
          <div class="col-md-6 order-md-1">
            <div class="img_container">
              <img v-if="product.photo" :src="server_url + product.photo.url" alt="" />
              <img v-if="!product.photo" :src="'/default-image.jpg'" alt="" />
              <div class="price" v-if="product.price">{{ product.price}} р.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import Vue from "vue";
import VueYandexMetrika from "vue-yandex-metrika";
import AppBtnFloatCart from "../../components/AppBtnFloatCart";

export default {
  components: {
    AppBtnFloatCart
  },
  setup() {
    Vue.use(VueYandexMetrika, {
      id: 86125591,
      env: process.env.NODE_ENV
    });
    return {}
  },
  data() {
    return {
      amount: 1,
      server_url: process.env.server_url,
    }
  },

  computed: {
    currentId() {
      return this.$route.params.id
    },
    product() {
      return this.$store.state.products.one
    },
    is_exist() {
      return !this.$store.state.products.one_error
    },
  },
  mounted() {
    this.getProduct()
  },
  methods: {
    getProduct() {
      this.$store.dispatch('products/getOneById', this.$route.params.id)
    },
    minus() {
      if (this.amount > 1) {
        this.amount--
      }
    },
    plus() {
      this.amount++
    },
    pushToCart() {
      if (this.product.price){
        this.product.amount = this.amount;
        this.$store.commit('cart/addItemWithAmount', this.product);
        this.$metrika.reachGoal('add-to-cart');
      } else {
        this.$emit('dishSelected', this.product);
        this.$metrika.reachGoal('add-to-cart');
      }
    },
  },
}
</script>

<style lang="scss" scoped>
button {
  position: relative;
  z-index: 10;
  padding: 10px 20px;
  font-size: 16px;
}
.item_card {
  z-index: 1;
  overflow: hidden;
  position: relative;
  .uzor_card {
    z-index: 5;
    top: 30px;
    right: 0;
    position: absolute;
    width: 183px;
  }
  .h2_container {
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
    button {
      align-self: flex-start;
      height: auto;
    }
  }

  .name {
    margin-top: 53px;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;

    color: #262626;
  }

  p {
    margin-top: 16px;
    margin-bottom: 38px;
  }

  .button_control {
    margin-bottom: 35px;
    display: flex;
    .increaser {
      margin-right: 10px;
      display: flex;
      height: 40px;
      border-radius: 4px;
      border: 1px solid #ffdc83;
      align-items: center;
      .minus,
      .number,
      .plus {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 7px;
        padding-right: 7px;
        font-size: 20px;
      }

      .minus {
        padding-left: 10px;
      }
      .plus {
        padding-right: 10px;
      }

      .minus,
      .plus {
        cursor: pointer;
      }
    }
  }

  .img_container {
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    .price {
      position: absolute;
      bottom: 0;
      right: 2px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 16px;
      padding-right: 16px;
      border-top-left-radius: 13px;
      border-bottom-right-radius: 13px;
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 16px;
      /* identical to box height */

      color: #262626;
      background: #ffdc83;
    }
    img {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .item_card {
    padding-bottom: 60px;
  }
  .price {
    font-size: 20px !important;
    line-height: 21px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    right: -20px !important;
    border-radius: 52px !important;
  }
  .name {
    margin-top: 0 !important;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 40px !important;
    line-height: 48px;
    /* identical to box height */

    color: #262626;
  }
  p {
    margin-top: 30px !important;
  }
  .uzor_card {
    top: -300px !important;
    width: 400px !important;
  }

  .button_control {
    margin-bottom: 15px !important;
    margin-left: 30px !important;
    .increaser {
      margin-right: 30px !important;
    }
  }

  button{
    font-size: 20px;
  }
}
</style>
