<template>
  <div style="height: 100vh; display: flex; flex-direction: column">
    <TheHeader />
    <Nuxt />
    <TheFooter />
  </div>
</template>

<style lang="scss">
@import '~assets/fonts/ElMessiri/stylesheet.css';
@import '~assets/fonts/Raleway/stylesheet.css';
// font-family: 'El Messiri', sans-serif;
// font-family: 'Raleway', sans-serif;

.halal {
  width: 4rem;
  height: 4rem;
}

p {
  &.red {
    color: indianred;
  }
}
main {
  padding-top: 47px;
  flex: 1 1 auto;
}
body {
  margin: 0;
  min-height: 100vh;
}
h1 {
  font-family: 'El Messiri', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  /* or 31px */
  text-transform: uppercase;

  color: #ffffff;
  &::after {
    margin-top: 30px;
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    background: #ffdc83;
  }
}

h2 {
  font-family: 'El Messiri', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;

  color: #1c1b21;
  &::after {
    margin-top: 30px;
    content: '';
    display: block;
    width: 45px;
    height: 2px;
    background: #ffdc83;
  }
  &.after_disable {
    &::after {
      display: none;
    }
  }
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  /* or 141% */
  color: #1c1b21;
}

p {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #1c1b21;
}

.span-without-margin {
  margin: 0;
}

.flex-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.btn-radio {
  font-size: 28px;
  font-weight: bold;
  color: #7b7b7b;

  &.active {
    color: #000;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 3rem;
      height: 3px;
      background: #000;
    }
  }

  & + & {
    margin-left: 2rem;
  }
}

.btn-cta {
  background: #ffdc83;
  border-radius: 30px 0 30px 0;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: none;

  font-family: 'El Messiri', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;

  color: #262626;
  &_small {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: 'El Messiri';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    border: 1px solid #ffdc83;

    color: #262626;
    border-radius: 3px;
    &_outline {
      background: none;
    }
  }
  &:disabled {
    background: #c7ba9a;
  }
}

a {
  color: inherit;
  &:hover {
    color: inherit;
  }
}

.phone {
  font-family: 'El Messiri', sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}

@media (min-width: 768px) {
  main {
    padding-top: 82px;
  }
  h1 {
    font-size: 52px;
    line-height: 51px;
    &:after {
      width: 80px;
    }
  }
  h2 {
    font-size: 50px;
    line-height: 65px;
    &:after {
      width: 80px;
    }
  }
  h3 {
    font-size: 20px;
    line-height: 29px;
    font-weight: 400;
  }
  .btn-cta {
    font-size: 28px;
    line-height: 37px;
    &_small {
      padding-top: 9px;
      padding-bottom: 9px;
      padding-left: 15px;
      padding-right: 15px;
      font-size: 20px;
      line-height: 20px;
    }
  }
  p {
    font-size: 17px;
    line-height: 27px;
  }
}
</style>
