<template>
  <main>
    <InfoInterior />
  </main>
</template>

<script>
import InfoInterior from "../components/InfoInterior";
export default {
  name: "about-us",
  components: {InfoInterior}
}
</script>

<style scoped>

</style>
