<template>
  <main>
    <AppBtnFloatCart />
    <BanketHall />
    <Celebrations />
    <CheckDate />
    <AlbumHall />
    <HallAdvantages />
    <ContactsRestaurant />
  </main>
</template>

<script>

import AppBtnFloatCart from '../components/AppBtnFloatCart.vue'
import ModalReservation from '../components/ModalReservation'
import SliderCertificates from '../components/SliderCertificates'
import SliderStocks from '../components/SliderStocks'
import ContactsRestaurant from '../components/ContactsRestaurant'
import InfographicsDelivery from '../components/InfographicsDelivery'
import BanketHall from "../components/BanketHall";
import Celebrations from "../components/Celebrations";
import CheckDate from "../components/CheckDate";
import AlbumHall from "../components/AlbumHall";
import HallAdvantages from "../components/HallAdvantages";

export default {
  name: "banket",
  components: {
    AppBtnFloatCart,
    ModalReservation,
    InfographicsDelivery,
    SliderCertificates,
    SliderStocks,
    ContactsRestaurant,
    BanketHall,
    Celebrations,
    CheckDate,
    AlbumHall,
    HallAdvantages
  }
}
</script>

<style>
</style>
