<template>
  <main>
    <div class="container">
      <div class="h2_container d-flex">
        <h2>Корзина</h2>
        <nuxt-link to="/kitchen">
          <button v-ripple class="btn-cta btn-cta_small btn-cta_outline">Вернуться к меню</button>
        </nuxt-link>
      </div>

      <div class="cart_container">
        <template v-if="businessCartItems.length">
          <KitBusiness />
        </template>

        <div v-for="cartItem in cartItems" :key="cartItem.id" class="cart_item row align-items-start">
          <div class="left_cart_item col-12 col-lg-8">
            <img
              class="item_img"
              :src="server_url + cartItem.photo.formats.small.url"
              alt=""
            />
            <div class="text_block">
              <h3>{{ cartItem.name }}</h3>
              <p>{{ cartItem.desc }}</p>
            </div>
          </div>

          <div class="right_cart_item col-12 col-lg-4 d-flex align-items-center justify-content-between">
            <div class="increaser">
              <div v-ripple class="minus" @click="minus(cartItem)">-</div>
              <div class="number">{{ cartItem.amount }}</div>
              <div v-ripple class="plus" @click="plus(cartItem)">+</div>
            </div>
            <div class="price">
              {{ Number(cartItem.price) * Number(cartItem.amount) }} р.
            </div>
            <button
              v-ripple
              class="trash btn"
              @click="deleteItem(cartItem)"
            >
              <img
                src="~assets/icons/trash.svg"
                alt=""
              />
            </button>
          </div>
        </div>
      </div>

      <div class="itog">Сумма заказа: {{ checkoutPrice }} р.</div>
      <div class="oformit">
        <nuxt-link to="/checkout">
          <button class="btn-cta" :disabled="checkoutPrice === 0" v-ripple>
            Оформить заказ
          </button>
        </nuxt-link>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  setup() {
    return {}
  },
  data() {
    return {
      server_url: process.env.server_url,
    }
  },
  computed: {
    cartItems() {
      return this.$store.state.cart.cartItems;
    },
    businessCartItems() {
      return this.$store.state.cart.businessCartItems;
    },
    checkoutPrice() {
      return this.$store.state.cart.checkoutPrice
    },
  },
  methods: {
    minus(cartItem) {
      this.$store.commit('cart/minusItem', cartItem)
    },
    plus(cartItem) {
      this.$store.commit('cart/plusItem', cartItem)
    },
    deleteItem(cartItem) {
      this.$store.commit('cart/deleteItem', cartItem)
    },
  },
}
</script>

<style lang="scss" scoped>
.h2_container {
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  button {
    height: auto;
  }
}

.cart_container {
  margin-top: 30px;
  .cart_item {
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(196, 196, 196, 0.5);
    border-bottom: 1px solid rgba(196, 196, 196, 0.5);
    .left_cart_item {
      display: flex;
      align-items: center;
      .item_img {
        margin-right: 26px;
        border-radius: 50%;
        width: 67px;
        height: 67px;
        object-fit: cover;
      }
    }
    .right_cart_item {
      display: flex;
      .increaser {
        display: flex;
        height: 40px;
        background: #ffdc83;
        align-items: center;
        .minus,
        .number,
        .plus {
          text-align: center;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-left: 7px;
          padding-right: 7px;
          font-size: 20px;
        }

        .minus {
          padding-left: 10px;
        }
        .plus {
          padding-right: 10px;
        }

        .minus,
        .plus {
          cursor: pointer;
        }
      }
      .price {
        float: right;
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: #373737;
      }

      .trash {
        img {
          cursor: pointer;
          width: 20px;
          align-self: start;
        }
      }
    }
  }
}

.itog {
  margin-top: 40px;
  text-align: right;
  font-family: El Messiri;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 23px;

  color: #1c1b21;
}
.oformit {
  margin-top: 20px;
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 768px) {
  .cart_container {
    .left_cart_item {
      .item_img {
        margin-right: 52px;
        width: 131px !important;
        height: 131px !important;
      }
    }
    .right_cart_item {
      .price {
        font-size: 25px !important;
        line-height: 30px !important;
      }
      .trash {
        img {
          width: 50px!important;
          height: 50px!important;
        }
      }
    }
  }
  .itog {
    margin-top: 69px;
    font-size: 26px;
    margin-bottom: 40px;
    line-height: 34px;
  }
}
</style>
