<template>
  <main>
    <FormPayment />
  </main>
</template>

<script>
import FormPayment from '../components/FormPayment'
export default {
  name: 'checkout',
  components: { FormPayment }
}
</script>

<style scoped>

</style>
