<template>
  <main>
    <ChiefInfo />
  </main>
</template>

<script>
import ChiefInfo from "../components/ChiefInfo";
export default {
  name: "chief",
  components: {
    ChiefInfo
  }
}
</script>

<style scoped>

</style>
