<template>
  <main style="background: #262626;">
    <ContactsRestaurant />
  </main>
</template>

<script>
import ContactsRestaurant from "../components/ContactsRestaurant";
export default {
  name: "contacts",
  components: {ContactsRestaurant}
}
</script>

<style scoped>

</style>
