<template>
  <main>
    <AppBtnFloatCart />
    <b-modal id="my-modal" centered ref="my-modal" class="mymodal" hide-footer>
      <ModalReservation />
    </b-modal>
    <FirstScreen />
    <ChiefInfo />
    <CatalogProducts />
    <Reviews />
    <InfoInterior />
    <InfographicsAdvantages />
    <AlbumInterior />
    <!--    <SliderCertificates />-->
<!--    <SliderStocks />-->
    <ContactsRestaurant />
  </main>
</template>

<script>
import AppBtnFloatCart from '../components/AppBtnFloatCart.vue'
import InfoInterior from '../components/InfoInterior.vue'
import CatalogProducts from '../components/CatalogProducts.vue'
import Menu from '../components/Menu.vue'
import FirstScreen from '../components/FirstScreen'
import ModalReservation from '../components/ModalReservation'
import SliderCertificates from '../components/SliderCertificates'
import SliderStocks from '../components/SliderStocks'
import InfographicsAdvantages from '../components/InfographicsAdvantages'
import AlbumInterior from '../components/AlbumInterior'
import ContactsRestaurant from '../components/ContactsRestaurant'
import InfographicsDelivery from '../components/InfographicsDelivery'
import ChiefInfo from "../components/ChiefInfo";
import Reviews from "../components/Reviews";

export default {
  // eslint-disable-next-line vue/no-unused-components
  components: {
    Reviews,
    InfoInterior,
    AlbumInterior,
    InfographicsAdvantages,
    FirstScreen,
    Menu,
    CatalogProducts,
    AppBtnFloatCart,
    ModalReservation,
    InfographicsDelivery,
    SliderCertificates,
    SliderStocks,
    ContactsRestaurant,
    ChiefInfo
  }
}
</script>

<style lang="scss">

#my-modal{
  padding-left: 0 !important;
}

.modal-header {
  border-bottom: none !important;
  padding: 10px !important;

  button{
    color: #fff;
    font-size: 30px;
  }
}

.modal-content {
  background: #262626;
}

.modal-body {
  background: #262626;
}
</style>
