<template>
  <main>
    <AppBtnFloatCart />
    <div>
      <section class="catalog-dishes">
        <div class="container">
          <div class="d-flex">
            <h2 class="mr-4">Меню</h2>
            <img class="halal" src="../assets/img/halal.svg" alt="" />
          </div>

          <div class="d-flex flex-wrap">
            <nuxt-link
              :to="'/kitchen'"
              class="btn btn-radio"
              :class="{ active: isMain }"
            >
              Основное меню
            </nuxt-link>
            <nuxt-link
              :to="'/kitchen/business'"
              class="btn btn-radio"
              :class="{ active: !isMain }"
            >
              Бизнес ланч
            </nuxt-link>
          </div>

          <h3 v-if="!isMain">Минимальная сумма заказа бизнес ланчей 2000р</h3>

          <nuxt-child></nuxt-child>
        </div>
      </section>
    </div>
  </main>
</template>

<script>
import AppBtnFloatCart from '../components/AppBtnFloatCart.vue'
import CatalogProducts from '../components/CatalogProducts.vue'

export default {
  components: { AppBtnFloatCart, CatalogProducts },
  data() {
    return {
      isMain: !this.$route.path.includes('business'),
    }
  },
  watch: {
    $route() {
      this.isMain = !this.$route.path.includes('business')
    },
  },
}
</script>

<style lang="scss" scoped>
.catalog-dishes {
  margin-top: 20px;
}

.btn-radio {
  padding: 6px 0;
}

::v-deep .categories {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;

  &__item {
    cursor: pointer;
    margin-right: 5px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    line-height: 15px;
    color: #262626;
    background: #f3f3f3;
    margin-bottom: 1rem;

    &.active {
      background: #262626;
      color: #ffffff;
    }
  }
}

@media (min-width: 768px) {
  ::v-deep .categories__item {
    font-size: 20px;
    line-height: 33px;
    margin-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 641px) {
  .btn-radio + .btn-radio {
    margin-left: 0 !important;
  }
}
</style>
